html {
    font-family: Lora, Georgia, serif; 
    margin: 2em;
    font-size: 170%;
    line-height: 1.5;
    background-color: #dcdcd1;
}

.bodyText:hover, .pageTitle:hover, .contact:hover {
    background-color: black;
    color: white;
}

.navbar {
    background-color: blueviolet;
}

@keyframes faceAnimation {
    /* 0% {background-color: red; transform: rotate(0deg);}
    25% {background-color: yellow; transform: rotate(10deg);}
    50% {background-color: red; transform: rotate(0deg);}
    75% {background-color: yellow; transform: rotate(-10deg);}
    100% {background-color: red; transform: rotate(0deg);} */
    0% {background-color: red; transform: rotate(5deg);}
    50% {background-color: yellow; transform: rotate(-5deg);}
    100% {background-color: red; transform: rotate(5deg);}
}

.face {
    float: left;
    margin: 10px;
    border-radius: 20px;
    animation-name: faceAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}