html {
    font-family: Lora, Georgia, serif; 
    margin: 2em;
    font-size: 170%;
    line-height: 1.5;
    background-color: #dcdcd1;
}

.bodyText:hover, .pageTitle:hover, .contact:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.navbar a:link, .navbar a:visited {
    color: white;
    text-decoration: none;
}

.pageTitle {
    clear: both;
}

.navbar {
    /* background-color: blueviolet; */
    float: left;
    /* padding-right: 10px; */
    list-style-type: none;
    padding-left: 10px;
    border-radius: 10px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    margin-right: 10px;
    animation-name: navbarAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

ul.navbar li {
    display: inline-block;
    background-color: rgb(71, 71, 199);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px #222222;
}

header {
    margin: auto;
    width: 50%;
}

@keyframes navbarAnimation {
    /* 0% {padding-inline: 5px;}
    50% {padding-inline: 10px;}
    100% {padding-inline: 5px;} */
    0% {padding-left: 100px;}
    100% {padding-left: 10px;}
}

@keyframes faceAnimation {
    0% {background-color: rgb(187, 61, 61); transform: rotate(5deg);}
    50% {background-color: rgb(211, 211, 117); transform: rotate(-5deg);}
    100% {background-color: rgb(187, 61, 61); transform: rotate(5deg);}
}

.face {
    box-shadow: 5px 5px 5px #222222;
    float: left;
    margin: 10px;
    border-radius: 20px;
    animation-name: faceAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}