:root
{
    --bg-color: #A0A083;
    --text-color: #EAE0CC;
    --button-color-noicon: #798478;
    --button-color-icon: #4D6A6D;
    --face-animation-color: #C9ADA1;
    --shadow-color: #222222;
    --button-text-color: white;
}

html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 130%;
    background-color: var(--bg-color);
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: Palette Mosaic;
    src: url("fonts/palette-mosaic-regular.ttf");
}
 
/* .bodyText:hover, .pageTitle:hover, .footnote:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
} */

.navbar a:link, .navbar a:visited, .icon_button_set a:link, .icon_button_set a:visited {
    color: var(--button-text-color);
    text-decoration: none;
}

.pageTitle {
    clear: both;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pageTitle, .bodyText, .footnote {
    color: var(--text-color);
    margin: 30px;
}

.footnote {
    clear: both;
}

.pageTitle, .icon_button_text, .navbar {
    text-transform: uppercase;
}

.navbar {
    text-align: center;
    display: block;
}

.navbar, .icon_button_set {
    padding: 20px;
    padding-top: 10px;
}

.icon_button_set {
    margin-left: 10px;
}

.navbar_text {
    display: inline-block;
}

.navbar_text, .navbar_text, .icon_button_text {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
}


a#adamGunn {
    text-decoration: none;
    color: var(--text-color);
    font-size: 85px;
    font-family: Palette Mosaic, 'Arial Black', sans-serif;
}

a#adamGunn:hover {
    cursor: pointer;
}

.navbar li , #select_theme_text {
    display: inline-block;
    background-color: var(--button-color-noicon);
    border-radius: 20px;
    padding: 8px;
    box-shadow: 5px 5px 5px var(--shadow-color);
    color: var(--button-text-color);
    cursor: pointer;
}

.color_scheme_select, #adamGunn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar, .icon_button_set, .icon_button, .headbar {
    list-style-type: none;
    vertical-align: center;
}

ul, body {
    margin: 0;
    padding: 0;
}

.icon_button_set li {
    display: inline-block;
    background-color: var(--button-color-icon);
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--shadow-color);
}

.icon_button_set li:hover, .navbar li:hover, #select_theme_text:hover {
    box-shadow: none;
}

.icon_button_set li .icon_button li {
    display: inline-block;
    border-radius: 20px;
    box-shadow: none;
}

.icon_button_set li .icon_button li img {
    margin-bottom: -5px;
}

.icon_button_set li .icon_button {
    padding: 10px;
    display: inline-block;
}

.headbar {
    top: 0;
    background-color: var(--bg-color);
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
}

.headbar li , .icon_button li {
    display: inline-block;
    vertical-align: middle;
}

img#umbrella_pic {
    float: left;
    margin: 30px;
}

img#jacket_pic {
    float: right;
    margin: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    display: block flex;
    text-align: center;
    background-color: var(--bg-color);
    box-shadow: 0px 5px 5px var(--shadow-color);
    padding-top: 20px;
    padding-inline: 0;
  }

@keyframes faceAnimation {
    0% {background-color: var(--button-color-noicon); transform: rotate(5deg);}
    50% {background-color: var(--face-animation-color); transform: rotate(-5deg);}
    100% {background-color: var(--button-color-noicon); transform: rotate(5deg);}
}

.face {
    box-shadow: 5px 5px 5px var(--shadow-color);
    margin: 10px;
    border-radius: 20px;
    background-color: var(--button-color-noicon);
}

.face:hover {
    box-shadow: none;
    animation-name: faceAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.color_scheme_select {
    position: relative;
    display: inline-block;
}

.color_scheme_options {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0);
    z-index: 1;
}

.color_scheme_options a {
    color: var(--button-text-color);
    background-color: var(--button-color-icon);
    border-radius: 20px;
    padding: 5px;
    line-height: 45px;
    text-decoration: none;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100%;
    box-shadow: 5px 5px 5px var(--shadow-color);
}

.color_scheme_options a:hover {
    background-color: var(--button-color-icon);
    box-shadow: none;
    cursor: pointer;
}

.color_scheme_select:hover .color_scheme_options {
    display: block;
}

#select_theme_navbar {
    padding: 0;
    box-shadow: none;
}